@charset "UTF-8";
* {
  box-sizing: border-box; }

html {
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  overflow-y: scroll;
  /* [3] */
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  /* [5] */
  -webkit-font-smoothing: antialiased;
  /* [5] */ }

body {
  margin: 0;
  height: 100%; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    display: block;
    color: inherit;
    text-decoration: none; }

p {
  padding: 0;
  margin-top: 0; }

a {
  text-decoration: none;
  background-color: transparent; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000; }

blockquote {
  margin: 0;
  position: relative;
  quotes: "“" "”" "‘" "’"; }

figure {
  margin: 0; }

cite {
  display: inline-block; }

picture {
  display: block; }

img {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle; }

table {
  border-collapse: collapse;
  width: 100%; }

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none; }

dl,
dd,
dt {
  margin: 0;
  padding: 0; }

form {
  margin: 0;
  padding: 0; }

fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
  min-width: 0; }

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell; }

legend {
  padding: 0;
  display: table;
  width: 100%; }

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0; }

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell; }

textarea {
  overflow: auto;
  /* Remove default vertical scrollbar in IE 8/9/10/11. */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

input,
button,
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

button {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-sizing: content-box;
  box-align: start;
  border-fit: lines;
  margin-collapse: discard;
  border-fit: border; }

iframe {
  border: 0; }

@font-face {
  font-family: "Roboto Regular";
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  /* Download only latin glyphs */
  src: local("Roboto Regular"), url("/fonts/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto Bold";
  src: url("/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  /* Download only latin glyphs */
  src: local("Roboto Bold"), url("/fonts/Roboto-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Poppins Black";
  src: url("/fonts/Poppins-Black.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  /* Download only latin glyphs */
  src: local("Poppins Black"), url("/fonts/Poppins-Black.ttf") format("truetype"); }

.screenreader {
  position: absolute;
  overflow: hidden;
  height: 1px;
  width: 1px;
  clip: rect(1px, 1px, 1px, 1px); }

@-webkit-keyframes animTextFromTopToBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%); } }

@keyframes animTextFromTopToBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%); } }

@-webkit-keyframes animTextFromBottomToTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%); } }

@keyframes animTextFromBottomToTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%); } }

body {
  background-color: #EECA39; }

.page {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column;
  min-height: 100%;
  position: relative;
  color: #363238;
  max-width: 1080px;
  margin: 0 auto;
  font-family: 'Roboto Regular', 'Helvetica Neue', sans-serif; }
  .page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    z-index: -1; }
  .overlay-is-active .page::before {
    opacity: 0.5;
    z-index: 5; }

.main {
  -webkit-box-flex: 1;
          flex: 1;
  padding: 0 20px 70px;
  position: relative; }

@media (min-width: 1024px) {
  .main {
    padding: 0 0 40px; } }

.header {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  width: 100%;
  padding: 0 20px; }
  .header__content {
    line-height: 32px;
    border-bottom: 4px solid #363238;
    padding: 20px 0 0;
    width: 100%; }
  .header__link {
    color: #363238;
    display: inline-block; }
    .header__link:hover, .header__link:active {
      text-decoration: none; }
  .header__byline {
    font-size: 24px;
    line-height: 24px;
    overflow: hidden;
    padding-bottom: 2px; }
    .header__byline .header__text {
      opacity: 0;
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
      -webkit-animation: animTextFromTopToBottom 0.33s 0.2s forwards cubic-bezier(0.12, 0.59, 0.22, 0.98);
              animation: animTextFromTopToBottom 0.33s 0.2s forwards cubic-bezier(0.12, 0.59, 0.22, 0.98); }
  .header__title {
    font-size: 32px;
    line-height: 32px;
    font-family: 'Poppins Black', 'Helvetica Neue', sans-serif;
    overflow: hidden;
    padding-bottom: 10px; }
    .header__title .header__text {
      opacity: 0;
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
      -webkit-animation: animTextFromBottomToTop 0.33s 0.4s forwards cubic-bezier(0.12, 0.59, 0.22, 0.98);
              animation: animTextFromBottomToTop 0.33s 0.4s forwards cubic-bezier(0.12, 0.59, 0.22, 0.98); }
  .header__text {
    position: relative;
    display: block; }

@media (min-width: 1024px) {
  .header {
    padding: 0; }
    .header__byline {
      font-size: 30px;
      line-height: 30px; }
    .header__title {
      font-size: 48px;
      line-height: 48px; } }

.footer {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column nowrap;
  width: 100%;
  position: fixed;
  top: calc(100% - 60px);
  bottom: 0;
  -webkit-transition: top 0.5s cubic-bezier(0.83, 0.05, 0.16, 0.91);
  transition: top 0.5s cubic-bezier(0.83, 0.05, 0.16, 0.91);
  will-change: top;
  background-color: #EECA39;
  height: 100%; }
  .footer.is-active {
    top: 20vh;
    z-index: 10; }
  .footer__item {
    -webkit-box-flex: 1;
            flex: 1 0 100%;
    text-align: center; }
  .footer__btn {
    display: block;
    color: #fff;
    background-color: #363238;
    min-height: 60px;
    font-size: 24px;
    font-family: 'Roboto Bold', 'Helvetica Neue', sans-serif;
    position: relative;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(25%, #282828), to(#363238));
    background: linear-gradient(to top, #282828 25%, #363238); }
  .footer__content {
    background-color: #EECA39;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    padding: 0 20px; }
    .footer__content:nth-of-type(1) {
      margin-top: 30px; }
    .footer__content:last-child .footer__list {
      padding: 0;
      border: none; }
  .footer__title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 16px;
    font-family: 'Poppins Black', 'Helvetica Neue', sans-serif; }
  .footer__list {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row wrap;
    -webkit-box-align: center;
            align-items: center;
    border-bottom: 1px solid #363238;
    padding-bottom: 30px; }
  .footer__listitem {
    -webkit-box-flex: 0;
            flex: 0 0 50%; }
    .footer__listitem:nth-child(odd) {
      text-align: right;
      padding-right: 8px; }
    .footer__listitem:nth-child(even) {
      text-align: left;
      padding-left: 8px; }
  .footer__social {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row wrap;
    border-bottom: 1px solid #363238;
    padding-bottom: 24px; }
  .footer__social-item {
    margin: 0 10px; }
  .footer__social-link {
    position: relative;
    width: 50px;
    height: 50px;
    display: block; }
    .footer__social-link::before, .footer__social-link::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.5);
              transform: translate(-50%, -50%) scale(1.5);
      -webkit-transition: opacity 0.15s;
      transition: opacity 0.15s; }
    .footer__social-link:hover::before, .footer__social-link:active::before {
      opacity: 0; }
    .footer__social-link:hover::after, .footer__social-link:active::after {
      opacity: 1; }
    .footer__social-link--email::before {
      background-image: url("/images/icon-sprite-1c205c8e.svg");
      background-repeat: no-repeat;
      background-position: 100% 0;
      width: 26px;
      height: 18.8px;
      text-indent: -9999em;
      opacity: 1; }
    .footer__social-link--email::after {
      background-image: url("/images/icon-sprite-1c205c8e.svg");
      background-repeat: no-repeat;
      background-position: 100% 31.756756756756754%;
      width: 26px;
      height: 18.8px;
      text-indent: -9999em;
      opacity: 0; }
    .footer__social-link--linkedin::before {
      background-image: url("/images/icon-sprite-1c205c8e.svg");
      background-repeat: no-repeat;
      background-position: 0 50%;
      width: 26px;
      height: 26px;
      text-indent: -9999em;
      opacity: 1; }
    .footer__social-link--linkedin::after {
      background-image: url("/images/icon-sprite-1c205c8e.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      width: 26px;
      height: 26px;
      text-indent: -9999em;
      opacity: 0; }
    .footer__social-link--github::before {
      background-image: url("/images/icon-sprite-1c205c8e.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      width: 26px;
      height: 26px;
      text-indent: -9999em;
      opacity: 1; }
    .footer__social-link--github::after {
      background-image: url("/images/icon-sprite-1c205c8e.svg");
      background-repeat: no-repeat;
      background-position: 50% 0;
      width: 26px;
      height: 26px;
      text-indent: -9999em;
      opacity: 0; }
    .footer__social-link--resume::before {
      background-image: url("/images/icon-sprite-1c205c8e.svg");
      background-repeat: no-repeat;
      background-position: 0 100%;
      width: 26px;
      height: 26px;
      text-indent: -9999em;
      opacity: 1; }
    .footer__social-link--resume::after {
      background-image: url("/images/icon-sprite-1c205c8e.svg");
      background-repeat: no-repeat;
      background-position: 50% 100%;
      width: 26px;
      height: 26px;
      text-indent: -9999em;
      opacity: 0; }

@media (min-width: 1024px) {
  .footer {
    position: relative;
    top: initial;
    bottom: initial;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row nowrap;
    border-top: 4px solid #363238;
    padding: 40px 0; }
    .footer__btn {
      display: none; }
    .footer__social {
      border: none; }
    .footer__content {
      border: none;
      margin: 0; }
      .footer__content:nth-of-type(1) {
        -webkit-box-ordinal-group: 4;
                order: 3;
        margin-top: 0; }
    .footer__list {
      border: none;
      padding: 0; } }

.hero {
  position: relative; }
  .hero__content {
    position: absolute;
    bottom: 20px;
    left: 20px; }
  .hero__title {
    font-size: 30px;
    font-family: 'Poppins Black', 'Helvetica Neue', sans-serif;
    position: relative;
    overflow: hidden; }
  .hero__text {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
    -webkit-animation: animTextFromTopToBottom 0.5s 0.33s forwards cubic-bezier(0.73, 0.08, 0, 1.02);
            animation: animTextFromTopToBottom 0.5s 0.33s forwards cubic-bezier(0.73, 0.08, 0, 1.02);
    display: block; }
  .hero__media {
    position: relative;
    background-size: cover;
    background-position: center;
    padding-bottom: 56.25%;
    background-color: #323232; }
    .hero__media::before, .hero__media::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .hero__media::before {
      background: -webkit-gradient(linear, left bottom, left top, color-stop(20%, rgba(50, 50, 50, 0.33)), to(rgba(0, 0, 0, 0)));
      background: linear-gradient(to top, rgba(50, 50, 50, 0.33) 20%, rgba(0, 0, 0, 0)); }
    .hero__media::after {
      background-color: #EECA39;
      opacity: 1;
      -webkit-transition: opacity 0.33s 0.15s;
      transition: opacity 0.33s 0.15s; }
      .is-in-viewport .hero__media::after {
        opacity: 0; }

@media (min-width: 1024px) {
  .hero__media {
    padding-bottom: 33.33%; }
  .hero__content {
    bottom: 40px;
    left: 40px; }
  .hero__title {
    font-size: 60px; } }

.list {
  margin: 20px auto 0; }

.listitem {
  background-color: #F4F6F5;
  margin-bottom: 10px;
  min-height: 100px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
  will-change: transform;
  -webkit-transition: background-color 0.2s, -webkit-transform 0.2s;
  transition: background-color 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, background-color 0.2s;
  transition: transform 0.2s, background-color 0.2s, -webkit-transform 0.2s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); }
  .listitem.has-anim:nth-child(1) {
    -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s; }
  .listitem.has-anim:nth-child(2) {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s; }
  .listitem.has-anim:nth-child(3) {
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s; }
  .listitem.has-anim:nth-child(4) {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s; }
  .listitem.has-anim:nth-child(5) {
    -webkit-transition-delay: 0.25s;
            transition-delay: 0.25s; }
  .listitem.has-anim:nth-child(6) {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s; }
  .listitem.has-anim:nth-child(7) {
    -webkit-transition-delay: 0.35s;
            transition-delay: 0.35s; }
  .listitem.has-anim:nth-child(8) {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s; }
  .listitem.has-anim:nth-child(9) {
    -webkit-transition-delay: 0.45s;
            transition-delay: 0.45s; }
  .listitem.has-anim:nth-child(10) {
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s; }
  .listitem:hover {
    cursor: pointer;
    -webkit-transform: scale(1.025);
            transform: scale(1.025);
    background-color: #fff; }
    .listitem:hover .listitem__title {
      color: #9a7e0d; }
  .listitem:active {
    -webkit-transform: scale(0.975);
            transform: scale(0.975); }
  .listitem__media {
    display: block;
    -webkit-box-flex: 0;
            flex: 0 0 100px;
    background-size: cover;
    background-color: #e1b813;
    position: relative; }
    .listitem__media::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #EECA39;
      opacity: 1;
      -webkit-transition: opacity 0.33s 0.15s;
      transition: opacity 0.33s 0.15s; }
      .is-in-viewport .listitem__media::after {
        opacity: 0; }
  .listitem__content {
    width: 100%;
    padding: 20px 16px; }
  .listitem__title {
    font-size: 20px;
    color: #363238;
    font-family: 'Roboto Bold', 'Helvetica Neue', sans-serif;
    -webkit-transition: color 0.2s;
    transition: color 0.2s; }
  .listitem__text {
    font-size: 14px; }
  .listitem__meta {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row wrap; }
  .listitem__meta-item {
    color: gray;
    font-size: 12px;
    padding-right: 8px; }

@media (min-width: 1024px) {
  .list {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row wrap; }
  .listitem {
    -webkit-box-flex: 0;
            flex: 0 0 calc(50% - 10px);
    min-height: 120px;
    margin-bottom: 20px; }
    .listitem:nth-child(odd) {
      margin-right: 10px; }
    .listitem:nth-child(even) {
      margin-left: 10px; }
    .listitem__media {
      -webkit-box-flex: 0;
              flex: 0 0 120px; }
    .listitem__content {
      padding: 20px;
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-flow: column nowrap;
      -webkit-box-pack: center;
              justify-content: center; } }

.media {
  max-width: 780px;
  margin: 0 auto;
  position: relative; }
  .media__img {
    object-fit: cover; }

.cms-content {
  max-width: 580px; }
  .cms-content h4 {
    font-size: 20px;
    margin-bottom: 8px; }
  .cms-content p {
    font-size: 16px;
    line-height: 24px; }
  .cms-content li {
    padding-left: 16px;
    margin-bottom: 8px;
    position: relative; }
    .cms-content li::before {
      content: '';
      position: absolute;
      top: 7px;
      left: 0;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #363238; }

.component {
  margin: 0 auto 30px; }
  .component:first-child {
    margin-top: 20px; }

.has-anim {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.33s cubic-bezier(0.73, 0.08, 0, 1.02);
  transition: opacity 0.2s, -webkit-transform 0.33s cubic-bezier(0.73, 0.08, 0, 1.02);
  transition: opacity 0.2s, transform 0.33s cubic-bezier(0.73, 0.08, 0, 1.02);
  transition: opacity 0.2s, transform 0.33s cubic-bezier(0.73, 0.08, 0, 1.02), -webkit-transform 0.33s cubic-bezier(0.73, 0.08, 0, 1.02); }

.is-in-viewport {
  -webkit-transform: none;
          transform: none;
  opacity: 1; }

@media (min-width: 1024px) {
  .component {
    margin: 0 auto 60px; }
    .component:first-child {
      margin-top: 60px; } }
