.header {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 0 20px;

    &__content {
        line-height: 32px;
        border-bottom: 4px solid $sec;
        padding: 20px 0 0;
        width: 100%;
    }

    &__link {
        color: $sec;
        display: inline-block;

        &:hover,
        &:active {
            text-decoration: none;
        }
    }

    &__byline {
        @include responsiveFont(24);
        overflow: hidden;
        padding-bottom: 2px;

        & .header__text {
            opacity: 0;
            transform: translateY(100%);
            animation: animTextFromTopToBottom 0.33s 0.2s forwards $bezier-ease;
        }
    }

    &__title {
        @include responsiveFont(32);
        @include font-sec-black;
        overflow: hidden;
        padding-bottom: 10px;

        & .header__text {
            opacity: 0;
            transform: translateY(-100%);
            animation: animTextFromBottomToTop 0.33s 0.4s forwards $bezier-ease;
        }
    }

    &__text {
        position: relative;
        display: block;
    }
}

@include media-query('desktop-sml') {
    .header {
        padding: 0;
    }
}
